/*#chosenDiv {
    float: left;
} 
#chosenText, #chosenDiv {
    float: left;
}

#remainingA, #remainingText {
    float: left;
} */

h1 {
    background-color: black;
    margin: 0;
    text-align: center;
    color: #efeee7;
    padding-top: 20px;
    padding-bottom: 2-px;
    font-size: 28px;

}

body {
    background-color: #efeee7;
    margin: 0;
    font-family: :Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

#container {
    width: 980px;
    margin: 0 auto;
}


#win1, #loss1 {
    float: left;
    width: 50%;
}


#left, #winTitle, #winCount, #lossTitle, #lossCount, #remainingTitle, #remainingCount, #chosenTitle, #titleCount {
    float: left;
    width: 25%;
  }